   <div class="app-content">
     <div class="content-wrapper">
       <div class="content-body"></div>
       <!-- Create Product -->
       <section id="book-appointment">
         <div class="card">

           <div class="card-header">
             <div class="row">
               <div class="col-md-10">
                 <h4 class="card-title">CREATE DEFAULT SHOP</h4>
                 <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
               </div>
               <div class="col-md-2">
                 <button class="btn btn-sm btn-blue-grey" (click)="backToPreviousPage()"
                   style="float: right;">Back</button>
               </div>
             </div>
             <hr>
           </div>


           <div class="card-body">
             <form>
               <div class="row">
                 <div class="col-md-6">
                   <div class="form-group">
                     <label for="description">Add Default Shop: <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" placeholder="Default Shop Name"
                       [(ngModel)]="defaultShopName.name" required name="productName">
                   </div>
                 </div>
               </div>

               <div class="card-footer ml-auto">
                 <button type="button" (click)="handleDefaultShopCreation()"
                   class="btn btn-outline-success mr-1">Submit</button>
               </div>
             </form>
           </div>
         </div>
       </section>

     </div>
   </div>
