         <div class="content-header row mb-1">

           <div class="content-header-right col-md-6 col-12">

           </div>
         </div>
         <div class="content-body">
           <!-- List Of All Products -->

           <section id="Products-list">
             <div class="row">
               <div class="col-12">
                 <div class="card">
                   <div class="card-header">
                     <h2 class="card-title">Admins List</h2>

                     <mat-form-field style="margin: 2em 0 0 0; border-bottom:1px solid; width: 25% !important;">
                       <input matInput (keyup)="applyFilter($event.target.value)"
                         (focus)="hidShowPlaceHolder($event.target.value, 'onFocus')"
                         (blur)="hidShowPlaceHolder($event.target.value, 'onBlur')" placeholder="{{myplaceHolder}}">
                     </mat-form-field>


                     <div class="heading-elements">

                       <a class="dropdown-item btn btn-success round btn-sm" style="color: #ffff;" type="button"
                         (click)="handleNavigation()">
                         <i class="la la-plus"></i>
                         Add Admin User</a>
                     </div>

                   </div>

                   <div class="card-body collapse show">
                     <div class="content-detached content-right">

                       <div class="product-shop">

                         <div class="row match-height">
                           <div class="table-responsive">

                             <table class="table table-striped table-bordered Products-list"
                               *ngIf="dataSource.length > 0; else noItems">
                               <thead>
                                 <tr>
                                   <th>Index</th>
                                   <th>Full Name</th>
                                   <th>Email</th>

                                   <th>Role</th>
                                   <th>Action</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr *ngFor="let data of dataSource; let i = index">
                                   <td (click)="handleNavigationView(data.uuid)" style="cursor: pointer;">
                                     {{i + paginationUrl.viewCountStart}}
                                   </td>
                                   <td (click)="handleNavigationView(data.uuid)" style="cursor: pointer;">
                                     {{data.full_name}}</td>
                                   <td (click)="handleNavigationView(data.uuid)" style="cursor: pointer;">{{data.email}}
                                   </td>

                                   <td (click)="handleNavigationView(data.uuid)" style="cursor: pointer;">{{data.role}}
                                   </td>
                                   <td><a (click)="handleNavigationView(data.uuid)"><i
                                         class="ft-activity text-success"></i></a>
                                     <a (click)="handleAdminUserDelete(data.uuid)"><i
                                         class="ft-trash-2 ml-1 text-warning"></i></a>
                                   </td>
                                 </tr>

                               </tbody>

                             </table>

                             <ng-template #noItems>
                               <mat-card class="text-center">No Items Available</mat-card>
                             </ng-template>


                             <div class="mat-paginator-outer-container">
                               <div class="mat-paginator-container">
                                 <div class="mat-paginator-page-size ng-star-inserted">
                                   <div class="mat-paginator-page-size-label">Items per page:</div>
                                   <div class="ng-star-inserted">10</div>
                                 </div>
                                 <div class="mat-paginator-range-actions">
                                   <div class="mat-paginator-range-label">{{paginationUrl.viewCountStart}} -
                                     {{paginationUrl.viewCountEnd}}
                                     of
                                     {{totalItemCount}}
                                   </div>

                                   <button class="mat-paginator-navigation-previous mat-icon-button" mat-icon-button=""
                                     type="button" [disabled]="!paginationUrl?.prev"
                                     (click)="handlePagination('previous')">
                                     <span class="mat-button-wrapper">
                                       <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
                                         <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                       </svg>
                                     </span>
                                     <div class="mat-button-ripple mat-ripple mat-button-ripple-round">
                                     </div>
                                     <div class="mat-button-focus-overlay"></div>
                                   </button>

                                   <button class="mat-paginator-navigation-next mat-icon-button" mat-icon-button=""
                                     type="button" [disabled]="!paginationUrl?.next" (click)="handlePagination('next')">
                                     <span class="mat-button-wrapper">
                                       <svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24">
                                         <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                       </svg>
                                     </span>
                                     <div class="mat-button-ripple mat-ripple mat-button-ripple-round"></div>
                                     <div class="mat-button-focus-overlay"></div>
                                   </button>

                                 </div>
                               </div>
                             </div>


                           </div>
                         </div>

                       </div>
                     </div>

                   </div>

                 </div>
               </div>
             </div>
           </section>
         </div>
