    <nav
      class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-info navbar-shadow">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
                href="#"><i class="ft-menu font-large-1"></i></a></li>
            <li class="nav-item"><a class="navbar-brand" routerLink="/adminDashboard"><img class="brand-logo"
                  alt="modern admin logo" src="assets/images/nathanLogos/transparent.png">

              </a></li>
            <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content">

          <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="nav navbar-nav mr-auto float-left">
              <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                    class="ft-menu"></i></a>
              </li>
            </ul>
            <ul class="nav navbar-nav mr-auto">
              <li class="text-center mt-1">
                <h3 style="color: #ffff;">{{shopDetails.name}} - {{shopDetails.address}}, {{shopDetails.city}}</h3>
              </li>
            </ul>
            <ul class="nav navbar-nav float-right">
              <li class="dropdown dropdown-user nav-item">
                <a class="dropdown-toggle nav-link dropdown-user-link" data-toggle="dropdown">
                  <span class="mr-1 user-name text-bold-700">Welcome, {{userDetails?.first_name}}</span>
                  <span class="avatar avatar-online">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="avatar">
                    <i></i>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" routerLink="/admin-user-profile">
                    <i class="ft-user"></i> Profile
                  </a>
                  <a class="dropdown-item" routerLink="/adminUserInsight/add">
                    <i class="ft-users"></i> Add New User
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/settings/dashboard">
                    <i class="ft-settings"></i> Settings
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="handlelogout()">
                    <i class="ft-power"></i> Logout
                  </a>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>
