   <div class="app-content">
     <div class="content-wrapper">
       <div class="content-body"></div>
       <!-- Create Product -->
       <section id="book-appointment">
         <div class="row">
         </div>

         <div class="row" style="margin-top: 3em;">
           <div class="col-xl-4 col-lg-4 col-md-4 offset-2">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:2em; cursor: pointer;"
                   routerLink="/settings/set-featured-products/pages/1">
                   <div class="">
                     <div class="mb-1">
                       <i class="la la-calculator font-large-2 primary"></i>
                     </div>
                     <div class="">
                       <h4>Featured Product</h4>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-xl-4 col-lg-4 col-md-4  ">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:2em; cursor: pointer;"
                   routerLink="/settings/set-recommended-products/pages/1">
                   <div class="">
                     <div class=" mb-1">
                       <i class="la la-tasks font-large-2 secondary"></i>
                     </div>
                     <div class="">
                       <h4>Recommended Product</h4>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>

     </div>
   </div>
