   <div class="app-content">
     <div class="content-wrapper">
       <div class="content-body"></div>
       <!-- Create Product -->
       <section id="book-appointment">
         <div class="row">
         </div>

         <div class="row" style="margin-top: 3em;">
           <!-- <div class="col-xl-4 col-lg-6 col-md-6 col-12 offset-1">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:2em; cursor: pointer;"
                   routerLink="/settings/default-shops/pages/1">
                   <div class="">
                     <div class="mb-1">
                       <i class="la la-university font-large-2 primary"></i>
                     </div>
                     <div class="">
                       <h4>Set Default Shops</h4>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div> -->
           <div class="col-xl-4 col-lg-6 col-md-6 col-12 offset-3">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:2em; cursor: pointer;"
                   routerLink="/settings/set-payment-method">
                   <div class="">
                     <div class="mb-1">
                       <i class="la la-money font-large-2 danger"></i>
                     </div>
                     <div class="">
                       <h4>Set Payment Method</h4>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>

     </div>
   </div>
