   <div class="app-content">
     <div class="content-wrapper">
       <div class="content-body"></div>
       <!-- Create Product -->
       <section id="book-appointment">
         <div class="row">
           <!-- <div class="col-md-10">
             <h4 class="card-title">Product Category Dashboard</h4>
             <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
           </div> -->

         </div>

         <div class="row" style="margin-top: 3em;">
           <div class="col-xl-3 col-lg-6 col-md-6 col-12">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:2em; cursor: pointer;"
                   routerLink="/productInsight/pages/1">
                   <div class="">
                     <div class="mb-1">
                       <i class="la la-list font-large-2 success"></i>
                     </div>
                     <div class="">
                       <h4>View Products</h4>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-xl-3 col-lg-6 col-md-6 col-12">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:2em; cursor: pointer;"
                   routerLink="/productInsight/categories/pages/1">
                   <div class="">
                     <div class="mb-1">
                       <i class="la la-list-alt font-large-2 warning"></i>
                     </div>
                     <div class="">
                       <h4>View Categories</h4>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-xl-3 col-lg-6 col-md-6 col-12">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:1.7em;">
                   <div class="">
                     <div class="mb-1">
                       <i class="la la-edit font-large-2 info"></i>
                     </div>
                     <div class="row">
                       <div class="col-md-6">
                         <a style="cursor: pointer; text-decoration: underline;" routerLink="/productInsight/add">
                           Single Product?
                         </a>
                       </div>
                       <div class="col-md-6">
                         <a (click)='handleProductNav()'
                           style="cursor: pointer; text-decoration: underline; color: #00BCD4;"> Bulk
                           Product?</a>
                       </div>

                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-xl-3 col-lg-6 col-md-6 col-12">
             <div class="card pull-up">
               <div class="card-content">
                 <div class="card-body text-center" style="padding:2em; cursor: pointer;"
                   routerLink="/productInsight/category/add">
                   <div class="">
                     <div class="mb-1">
                       <i class="la la-dashcube font-large-2 danger"></i>
                     </div>
                     <div class="">
                       <h4>Add Categories</h4>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>

     </div>
   </div>
