<body class="vertical-layout vertical-menu-modern 1-column  blank-page" id="LoginForm" data-open="click"
  data-menu="vertical-menu-modern" data-col="1-column">
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 ">

                <div class="card-header border-0">
                  <div class="card-title text-center" style="background: #2C303B;margin: -21px;">
                    <img src="assets/images/nathanLogos/svg.svg" width="50%" alt="branding logo">
                  </div>
                </div>


                <div class="login-form">
                  <div class="main-div">
                    <div class="panel">
                      <h2>Reset Password Super Admin </h2>
                      <p>Please enter your new password</p>
                    </div>
                    <form id="Login">

                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter Password" name="password"
                          [(ngModel)]="credentials.password" required>
                      </div>

                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Passowrd" name="confirmPass"
                          [(ngModel)]="credentials.password_confirmation" required>
                      </div>
                      <div class="forgot">
                        <a routerLink="/login" class="card-link">Go Back to Login</a>
                      </div>
                      <button type="button" (click)="handleNewpassword()" class="btn btn-outline-info btn-block"
                        [disabled]="credentials.password === '' || credentials.password_confirmation === ''"><i
                          class="ft-unlock"></i>
                        Reset Password</button>

                    </form>
                  </div>

                </div>




              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

</body>
