<!-- Hospital Info cards -->
<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card pull-up">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="la la-user-md font-large-2 success"></i>
            </div>
            <div class="media-body text-right">
              <h5 class="text-muted text-bold-500">Users</h5>
              <h3 class="text-bold-600">122</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card pull-up">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="la la-stethoscope font-large-2 warning"></i>
            </div>
            <div class="media-body text-right">
              <h5 class="text-muted text-bold-500">Active Shops</h5>
              <h3 class="text-bold-600">34</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card pull-up">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="la la-calendar-check-o font-large-2 info"></i>
            </div>
            <div class="media-body text-right">
              <h5 class="text-muted text-bold-500">Completed Orders</h5>
              <h3 class="text-bold-600">3.5K</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card pull-up">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center">
              <i class="la la-bed font-large-2 danger"></i>
            </div>
            <div class="media-body text-right">
              <h5 class="text-muted text-bold-500">Pending Orders</h5>
              <h3 class="text-bold-600">179</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hospital Info cards Ends -->

<!-- Appointment Bar Line Chart -->
<div class="row">
  <div class=" col-12">
    <div class=" card card-chart">
      <div class=" card-header">
        <div class=" row">
          <div class=" col-sm-6 text-left">
            <!-- <h5 class=" card-category">Orders</h5> -->
            <h2 class=" card-title">Total Orders</h2>
          </div>
          <div class=" col-sm-6">
            <div class=" btn-group btn-group-toggle float-right" data-toggle="buttons">
              <label class=" btn btn-sm btn-success btn-simple"
                (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false;clicked3=false"
                [ngClass]="{'active':clicked===true}">
                <input checked="checked" name="options" type="radio" />

                <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                  Day
                </span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-single-02"> </i>
                </span>
              </label>
              <label class=" btn btn-sm btn-success btn-simple"
                (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false;clicked3=false"
                [ngClass]="{'active':clicked1===true}">
                <input class=" d-none d-sm-none" name="options" type="radio" />

                <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                  Week
                </span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-gift-2"> </i>
                </span>
              </label>

              <label class=" btn btn-sm btn-success btn-simple"
                (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true;clicked3=false"
                [ngClass]="{'active':clicked2===true}">
                <input class=" d-none" name="options" type="radio" />

                <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                  Month
                </span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-tap-02"> </i>
                </span>
              </label>

              <label class=" btn btn-sm btn-success btn-simple"
                (click)="data=datasets[3];updateOptions();clicked=false;clicked1=false;clicked2=false;clicked3=true"
                [ngClass]="{'active':clicked3===true}">
                <input class=" d-none" name="options" type="radio" />

                <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                  Year
                </span>
                <span class=" d-block d-sm-none">
                  <i class=" tim-icons icon-tap-02"> </i>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class=" card-body">
        <div class="chart-area">
          <canvas id="canvas22"> </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Appointment Bar Line Chart Ends -->
