<div class="app-content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Order View</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a (click)='backToPreviousPage()' style="color: #00BCD4;">Home</a>
              </li>
              <li class="breadcrumb-item active">Order View
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-6 col-12">
        <!-- settings was here -->

      </div>
    </div>
    <div class="content-body">
      <section class="card">
        <div id="invoice-template" class="card-body">
          <!-- Invoice Company Details -->
          <div id="invoice-company-details" class="row">
            <div class="col-md-4 col-sm-12 text-center text-md-left">
              <div class="media">
                <div class="media-body">
                  <h2>{{orderDetails?.shop.name | uppercase}}</h2>
                  <ul class="px-0 list-unstyled">
                    <li>{{orderDetails?.shop.address}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-sm-12 text-center text-md-right">
              <h4>REFERENCE NUMBER</h4>
              <p class="pb-3"><b># {{orderDetails?.reference}}</b> </p>
            </div>
          </div>
          <!--/ Invoice Company Details -->

          <!-- Invoice Customer Details -->
          <div id="invoice-customer-details" class="row pt-2">
            <div class="col-md-6 col-sm-12 text-center text-md-left">
              <h6 class="text-muted"><b>Ship To:</b></h6>
              <ul class="px-0 list-unstyled">
                <li class="text-bold-800">{{orderDetails?.user.full_name}}</li>
                <li>{{orderDetails?.to_address?.street}}</li>
                <li>{{orderDetails?.to_address?.city}}</li>
                <li>{{orderDetails?.to_address?.state}}</li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12 text-center text-md-right">
              <p><span class="text-muted">Order Date: </span> <b>{{orderDetails?.created_at | date: 'longDate'}}</b></p>
              <p><span class="text-muted">Delivery Terms: </span><b>{{orderDetails?.delivery_type}}</b></p>
              <p><span class="text-muted">Payment Terms: </span> <b>{{orderDetails?.payment_type}}</b></p>
              <p><span class="text-muted">Delivery Date: </span>
                <b>{{orderDetails?.delivery_time | date: 'mediumDate'}}</b>
              </p>
            </div>
          </div>

          <div class="text-center mt-1">
            <h5 *ngIf="orderDetails?.payment_status; else notPaid">
              <span class="text-muted">Payment Status: </span>
              <b>Paid</b>
            </h5>
            <ng-template #notPaid>
              <h5>
                <span class="text-muted">Payment Status: </span>
                <b>Not Paid</b>
              </h5>
            </ng-template>
          </div>
          <!--/ Invoice Customer Details -->

          <!-- Invoice Items Details -->
          <div id="invoice-items-details" class="pt-2">
            <div class="row">
              <div class="table-responsive col-sm-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item & Description</th>
                      <th>Other Information</th>
                      <th class="text-right">Quantity</th>
                      <th class="text-right">Unit Price</th>
                      <th class="text-right">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of orderDetails?.items; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>
                        <span> <b>{{item?.product_name}}</b></span> <br>
                        <span class="text-muted">{{item?.product_description}}</span>
                      </td>
                      <td>
                        Color: <b><span>{{item?.options[0]?.color}}</span></b> <br>
                        Size: <b><span class="text-muted">{{item?.options[0]?.size}}</span></b> <br>
                        Weight: <b> <span>{{item?.options[0]?.weight}}</span></b>
                      </td>
                      <td class="text-right">{{item?.quantity}}</td>
                      <td class="text-right">{{item?.unit_price | currency: 'N '}}</td>
                      <td class="text-right">{{item?.sub_total | currency: 'N '}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="offset-md-7 col-md-5 col-sm-12">
                <p class="lead">Total Amount Breakdown</p>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Sub Total</td>
                        <td class="text-right">{{orderDetails?.total | currency : 'N '}}</td>
                      </tr>
                      <tr>
                        <td> + Shipping </td>
                        <td class="text-right">{{orderDetails?.shipping | currency : 'N '}}</td>
                      </tr>
                      <tr>
                        <td> + Discount</td>
                        <td class="text-right">{{orderDetails?.discount | currency : 'N '}}</td>
                      </tr>
                      <tr>
                        <td class="text-bold-800">Total Amount</td>
                        <td class="text-bold-800 text-right"> {{orderDetails?.grand_total | currency : 'N '}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>
